body {
  margin: 0;
  background-color: #111;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.leaderboard {
  flex: 1;
  font-family: "Courier New", Courier, monospace;
  /* margin-left: 20%; */
  font-weight: bold;
  color: white;
}

.graph {
  flex: 1;
}

.quantities {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: 3000;
  margin-left: 50%;
  font-weight: bold;
}

.leaderboardItems {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: large;
  text-transform: uppercase;
  /* line-break: unset; */
  /* white-space: nowrap; */
}

.dorm-name {
  margin-right: 100px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
